@charset "UTF-8";

@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Thin.woff2") format("woff2"), url("../fonts/RobotoSlab-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-Light.woff2") format("woff2"), url("../fonts/RobotoSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab;
  font-display: swap;
  src: url("../fonts/RobotoSlab-VariableFont_wght.woff2") format("woff2"), url("../fonts/RobotoSlab-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-instagram:before {
  content: "\e900";
  color: #e4405f;
}

._icon-viber:before {
  content: "\e901";
  color: #665cac;
}

._icon-arrow-right:before {
  content: "\e919";
}

._icon-arrow-top:before {
  content: "\e92c";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #58595B;
  line-height: 1;
  font-family: "RobotoSlab";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "RobotoSlab";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:after {
  scale: 1;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  border-radius: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.checkbox__label::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #000;
  border-radius: 5px;
  scale: 0;
  -webkit-transition: scale 0.3s ease 0s;
  -o-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button a {
  border: 1px solid;
  border-color: black;
  padding: 0.4375rem 0.75rem;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.15em;
}

.button a:hover {
  background-color: rgb(210, 166, 165);
  color: #ffffff;
}

.button button {
  border: 1px solid;
  border-color: black;
  padding: 0.4375rem 0.75rem;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.15em;
}

.button button:hover {
  background-color: rgb(210, 166, 165);
  color: #ffffff;
}

.animated-right {
  position: relative;
  right: 10%;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._watcher-view .animated-right {
  right: 0;
  opacity: 1;
}

.animated-right2s {
  position: relative;
  right: 10%;
  opacity: 0;
  -webkit-transition: all 1.3s ease 0s;
  -o-transition: all 1.3s ease 0s;
  transition: all 1.3s ease 0s;
}

._watcher-view .animated-right2s {
  right: 0;
  opacity: 1;
}

.animated-right2s._watcher-view {
  right: 0;
  opacity: 1;
}

.breadcrumbs {
  font-size: 0.6875rem;
  margin: 1.25rem 0rem;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs__item {
  color: rgb(194, 166, 165);
}

.breadcrumbs__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.625rem;
}

.breadcrumbs__current {
  color: #58595B;
}

.popup__close {
  border: 1px solid;
  border-color: black;
  padding: 0.4375rem 0.75rem;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.15em;
  display: block;
  margin-left: 100%;
  margin-bottom: 0.9375rem;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.popup__close:hover {
  background-color: rgb(210, 166, 165);
  color: #ffffff;
}

.form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.form._sending::before {
  opacity: 1;
  visibility: visible;
}

.form__title {
  line-height: 1.34375;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.875rem;
}

.form__item {
  margin-bottom: 1.25rem;
}

.form__label {
  display: block;
  margin-bottom: 0.625rem;
}

.form__input {
  padding: 0.625rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

.form__input._error {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.form__button {
  border: 1px solid;
  border-color: black;
  padding: 0.4375rem 0.75rem;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.15em;
  margin: 0 auto;
  display: block;
}

.form__button:hover {
  background-color: rgb(210, 166, 165);
  color: #ffffff;
}

.header {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgba(194, 166, 165, 0.6);
  z-index: 1;
  height: 6.25rem;
  color: #ffffff;
}

.header-catalog {
  color: #58595B;
}

.header:hover {
  background-color: rgb(194, 166, 165);
}

.header__wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-ibg_contain {
  padding-bottom: 6.25rem;
  width: 100%;
  cursor: pointer;
  margin: 0rem 1.25rem 0rem 1.25rem;
}

.menu__icon {
  z-index: 20;
}

.menu__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1rem;
  cursor: pointer;
}

.menu__link {
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -50%;
  left: 0;
  background-color: #58595B;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #58595B;
}

.menu__link:hover::after {
  opacity: 1;
  bottom: 0;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: rgba(194, 166, 165, 0.6);
}

.footer:hover {
  background-color: rgb(194, 166, 165);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  margin-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.footer__to-header {
  margin-right: 1.25rem;
}

.wrapper {
  position: relative;
}

.main-block {
  margin-top: -6.25rem;
  position: relative;
}

.main-block__container {
  padding: 0rem;
}

.main-block__slider {
  width: 100%;
  min-height: 100vh;
}

.main-block__swiper-pagination {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
}

.main-block__swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.main-block__swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 1.875rem;
}

.main-block__swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}

.main-block__swiper-button-prev {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  font-size: 1.875rem;
  color: rgb(194, 166, 165);
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.main-block__swiper-button-prev::before {
  z-index: 1;
  color: #ffffff;
}

.main-block__swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  background-color: rgba(194, 166, 165, 0.4);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.main-block__swiper-button-next {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  font-size: 1.875rem;
  color: rgb(194, 166, 165);
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.main-block__swiper-button-next::before {
  z-index: 1;
  color: #ffffff;
}

.main-block__swiper-button-next::after {
  content: "";
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  background-color: rgba(194, 166, 165, 0.4);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.swiper-slide__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.swiper-slide__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.swiper-slide__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper-slide__image img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide__title {
  line-height: 1.34375;
  font-weight: 300;
  color: rgba(255, 226, 226, 0.99);
  text-align: center;
}

.swiper-slide__text {
  margin-top: 3.125rem;
  background-color: rgba(255, 255, 255, 0.6431372549);
  border-radius: 20px;
  line-height: 1.1666666667;
  font-weight: 300;
  padding: 1.875rem 1.25rem;
  width: 29.7222222222%;
}

.mini-catalog__container {
  padding: 0rem;
}

.mini-catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #58595B;
  padding: 0rem 0.9375rem 0.625rem 0.9375rem;
}

.mini-catalog__title {
  line-height: 1.3846153846;
  font-weight: 400;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mini-catalog__link {
  line-height: 1.3846153846;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.mini-catalog__slider {
  width: 100%;
  height: auto;
  margin-top: 0.625rem;
  position: relative;
}

.mini-catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mini-catalog__item-link {
  display: block;
}

.mini-catalog__item-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.mini-catalog__scrollbar {
  position: absolute;
  bottom: 0.3125rem;
  background-color: rgba(0, 0, 0, 0.1);
  /* Колір фону Scrollbar */
  width: 100%;
  /* Ширина Scrollbar */
  height: 0.3125rem;
  border-radius: 0.625rem;
}

.mini-catalog__btn {
  margin-top: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-scrollbar-drag {
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 50;
}

.delivery-block__title {
  border-bottom: 1px solid;
  border-color: #58595B;
  padding: 0rem 0rem 0.625rem 0rem;
}

.delivery-block__sub-title {
  font-weight: 400;
  padding-left: 1.25rem;
  text-decoration: underline;
}

.delivery-block__list {
  margin-top: 0.625rem;
}

.delivery-block__item {
  position: relative;
  padding-left: 1.25rem;
  line-height: 1.4444444444;
}

.delivery-block__item:not(:last-child) {
  padding-bottom: 0.3125rem;
}

.delivery-block__item::before {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #58595B;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  content: "";
}

.delivery-block__title {
  border-bottom: 1px solid;
  border-color: #58595B;
  padding: 0rem 0rem 0.625rem 0rem;
}

.delivery-block__sub-title {
  font-weight: 400;
  padding-left: 1.25rem;
  text-decoration: underline;
}

.delivery-block__list {
  margin-top: 0.625rem;
}

.delivery-block__item {
  position: relative;
  padding-left: 1.25rem;
  line-height: 1.4444444444;
}

.delivery-block__item:not(:last-child) {
  padding-bottom: 0.3125rem;
}

.delivery-block__item::before {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #58595B;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  content: "";
}

.catalog__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.catalog__wraper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.item-catalog {
  -webkit-box-shadow: 0px 0px 10px 2px rgb(194, 166, 165);
          box-shadow: 0px 0px 10px 2px rgb(194, 166, 165);
}

.item-catalog__image-ibg {
  padding-bottom: 180%;
}

.item-catalog__image-ibg_contain {
  padding-bottom: 133.3333333333%;
}

.item-catalog__image-ibg:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-catalog__title {
  font-weight: 400;
  text-align: center;
  margin-top: 0.625rem;
}

.item-catalog__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-catalog__price {
  text-align: center;
}

.item-catalog__price:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1.25rem;
}

.product__info {
  margin-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.product__info:not(:last-child) {
  margin-bottom: 1.875rem;
}

.product__title {
  font-weight: 700;
  text-align: center;
}

.product__price {
  text-align: center;
  margin-top: 0.625rem;
}

.product__price:not(:last-child) {
  margin-bottom: 0.625rem;
}

.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__description {
  font-size: 0.875rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.4285714286;
}

.product__description:not(:last-child) {
  margin-bottom: 1.875rem;
}

.product__accessories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.product__accessories:not(:last-child) {
  margin-bottom: 1.875rem;
}

.product__accessories-title {
  font-weight: 700;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.product__accessories-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.sliders {
  position: relative;
  z-index: 0;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.sliders__big {
  position: relative;
  height: 100%;
  width: 85%;
}

.sliders__small {
  position: relative;
  height: 100%;
  width: 15%;
}

.product-main__slider {
  width: 100%;
  height: 100%;
}

.product-main__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.product-main__slide {
  background-size: cover;
  background-position: center;
}

.product-main__image {
  width: 100%;
  height: 100%;
}

.product-main__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-mini__slider {
  width: 100%;
  height: 100%;
}

.product-mini__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.product-mini__slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.product-mini__slide.swiper-slide-thumb-active {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.product-mini__image {
  width: 100%;
  height: 100%;
}

.product-mini__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .product__description {
    max-width: 60%;
  }
}

@media (min-width: 91.875em) {
  .footer {
    margin-top: 3.75rem;
  }

  .footer__container {
    min-height: 5rem;
  }

  .footer__social {
    font-size: 1.875rem;
  }

  .footer__to-header {
    font-size: 1.875rem;
  }

  .swiper-slide__title {
    font-size: 4rem;
  }

  .swiper-slide__text {
    font-size: 1.5rem;
  }

  .mini-catalog__header {
    margin-top: 3.75rem;
  }

  .mini-catalog__title {
    font-size: 1.625rem;
  }

  .mini-catalog__link {
    font-size: 1.625rem;
  }

  .delivery-block__container {
    margin-top: 3.75rem;
  }

  .delivery-block__title {
    font-size: 3.25rem;
  }

  .delivery-block__sub-title {
    margin-top: 1.875rem;
  }

  .delivery-block__sub-title {
    font-size: 1.625rem;
  }

  .delivery-block__item {
    font-size: 1.125rem;
  }

  .delivery-block__container {
    margin-top: 3.75rem;
  }

  .delivery-block__title {
    font-size: 3.25rem;
  }

  .delivery-block__sub-title {
    margin-top: 1.875rem;
  }

  .delivery-block__sub-title {
    font-size: 1.625rem;
  }

  .delivery-block__item {
    font-size: 1.125rem;
  }

  .catalog__title {
    font-size: 2rem;
  }

  .item-catalog__title {
    font-size: 1.625rem;
  }

  .item-catalog__price {
    font-size: 1.375rem;
  }

  .product__title {
    font-size: 1.625rem;
  }

  .product__price {
    font-size: 1.375rem;
  }

  .product__accessories-title {
    font-size: 1.375rem;
  }
}

@media (max-width: 20em) {
  .footer {
    margin-top: 1.25rem;
  }

  .footer__container {
    min-height: 3.125rem;
  }

  .footer__social {
    font-size: 1.5rem;
  }

  .footer__to-header {
    font-size: 1.5rem;
  }

  .swiper-slide__title {
    font-size: 2.25rem;
  }

  .swiper-slide__text {
    font-size: 1.125rem;
  }

  .mini-catalog__header {
    margin-top: 0.625rem;
  }

  .mini-catalog__title {
    font-size: 1rem;
  }

  .mini-catalog__link {
    font-size: 1rem;
  }

  .delivery-block__container {
    margin-top: 0.625rem;
  }

  .delivery-block__title {
    font-size: 1.875rem;
  }

  .delivery-block__sub-title {
    margin-top: 0.625rem;
  }

  .delivery-block__sub-title {
    font-size: 1.125rem;
  }

  .delivery-block__item {
    font-size: 0.875rem;
  }

  .delivery-block__container {
    margin-top: 0.625rem;
  }

  .delivery-block__title {
    font-size: 1.875rem;
  }

  .delivery-block__sub-title {
    margin-top: 0.625rem;
  }

  .delivery-block__sub-title {
    font-size: 1.125rem;
  }

  .delivery-block__item {
    font-size: 0.875rem;
  }

  .catalog__title {
    font-size: 1.25rem;
  }

  .item-catalog__title {
    font-size: 1.125rem;
  }

  .item-catalog__price {
    font-size: 0.875rem;
  }

  .product__title {
    font-size: 1.125rem;
  }

  .product__price {
    font-size: 0.875rem;
  }

  .product__accessories-title {
    font-size: 0.875rem;
  }
}

@media (max-width: 61.99875em) {
  .swiper-slide__text {
    width: 50%;
  }

  .catalog__wraper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .header__wraper {
    -ms-grid-columns: auto 1fr 1fr;
    grid-template-columns: auto 1fr 1fr;
  }

  .menu__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(194, 166, 165);
    font-size: 2.25rem;
    overflow: auto;
  }

  .menu__list {
    margin-top: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.125rem;
    font-size: 2.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__link {
    padding: 0.625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    width: 75%;
    left: 0;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__swiper-button-prev {
    display: none;
    visibility: hidden;
  }

  .main-block__swiper-button-next {
    display: none;
    visibility: hidden;
  }

  .swiper-slide__text {
    width: 75%;
  }

  .catalog__wraper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog__wraper._accessories {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .sliders {
    height: 60vh;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 91.875em) {
@supports (margin-top: clamp( 1.25rem , 0.5543478261rem  +  3.4782608696vw , 3.75rem )) {
    .footer {
      margin-top: clamp( 1.25rem , 0.5543478261rem  +  3.4782608696vw , 3.75rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.5543478261rem  +  3.4782608696vw , 3.75rem )) {
    .footer {
      margin-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 71.875);
    }
}

@supports ( min-height: clamp( 3.125rem , 2.6032608696rem  +  2.6086956522vw , 5rem )) {
    .footer__container {
      min-height: clamp( 3.125rem , 2.6032608696rem  +  2.6086956522vw , 5rem );
    }
}

@supports not ( min-height: clamp( 3.125rem , 2.6032608696rem  +  2.6086956522vw , 5rem )) {
    .footer__container {
      min-height: calc(3.125rem + 1.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem )) {
    .footer__social {
      font-size: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem )) {
    .footer__social {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem )) {
    .footer__to-header {
      font-size: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3956521739rem  +  0.5217391304vw , 1.875rem )) {
    .footer__to-header {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 2.25rem , 1.7630434783rem  +  2.4347826087vw , 4rem )) {
    .swiper-slide__title {
      font-size: clamp( 2.25rem , 1.7630434783rem  +  2.4347826087vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.7630434783rem  +  2.4347826087vw , 4rem )) {
    .swiper-slide__title {
      font-size: calc(2.25rem + 1.75 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0206521739rem  +  0.5217391304vw , 1.5rem )) {
    .swiper-slide__text {
      font-size: clamp( 1.125rem , 1.0206521739rem  +  0.5217391304vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0206521739rem  +  0.5217391304vw , 1.5rem )) {
    .swiper-slide__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem )) {
    .mini-catalog__header {
      margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem )) {
    .mini-catalog__header {
      margin-top: calc(0.625rem + 3.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1rem , 0.8260869565rem  +  0.8695652174vw , 1.625rem )) {
    .mini-catalog__title {
      font-size: clamp( 1rem , 0.8260869565rem  +  0.8695652174vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8260869565rem  +  0.8695652174vw , 1.625rem )) {
    .mini-catalog__title {
      font-size: calc(1rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1rem , 0.8260869565rem  +  0.8695652174vw , 1.625rem )) {
    .mini-catalog__link {
      font-size: clamp( 1rem , 0.8260869565rem  +  0.8695652174vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8260869565rem  +  0.8695652174vw , 1.625rem )) {
    .mini-catalog__link {
      font-size: calc(1rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem )) {
    .delivery-block__container {
      margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem )) {
    .delivery-block__container {
      margin-top: calc(0.625rem + 3.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4923913043rem  +  1.9130434783vw , 3.25rem )) {
    .delivery-block__title {
      font-size: clamp( 1.875rem , 1.4923913043rem  +  1.9130434783vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4923913043rem  +  1.9130434783vw , 3.25rem )) {
    .delivery-block__title {
      font-size: calc(1.875rem + 1.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) {
    .delivery-block__sub-title {
      margin-top: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) {
    .delivery-block__sub-title {
      margin-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .delivery-block__sub-title {
      font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .delivery-block__sub-title {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8054347826rem  +  0.347826087vw , 1.125rem )) {
    .delivery-block__item {
      font-size: clamp( 0.875rem , 0.8054347826rem  +  0.347826087vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8054347826rem  +  0.347826087vw , 1.125rem )) {
    .delivery-block__item {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem )) {
    .delivery-block__container {
      margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , -0.2445652174rem  +  4.347826087vw , 3.75rem )) {
    .delivery-block__container {
      margin-top: calc(0.625rem + 3.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4923913043rem  +  1.9130434783vw , 3.25rem )) {
    .delivery-block__title {
      font-size: clamp( 1.875rem , 1.4923913043rem  +  1.9130434783vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4923913043rem  +  1.9130434783vw , 3.25rem )) {
    .delivery-block__title {
      font-size: calc(1.875rem + 1.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-top: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) {
    .delivery-block__sub-title {
      margin-top: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) {
    .delivery-block__sub-title {
      margin-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .delivery-block__sub-title {
      font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .delivery-block__sub-title {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8054347826rem  +  0.347826087vw , 1.125rem )) {
    .delivery-block__item {
      font-size: clamp( 0.875rem , 0.8054347826rem  +  0.347826087vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8054347826rem  +  0.347826087vw , 1.125rem )) {
    .delivery-block__item {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0413043478rem  +  1.0434782609vw , 2rem )) {
    .catalog__title {
      font-size: clamp( 1.25rem , 1.0413043478rem  +  1.0434782609vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0413043478rem  +  1.0434782609vw , 2rem )) {
    .catalog__title {
      font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .item-catalog__title {
      font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .item-catalog__title {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem )) {
    .item-catalog__price {
      font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem )) {
    .item-catalog__price {
      font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .product__title {
      font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9858695652rem  +  0.6956521739vw , 1.625rem )) {
    .product__title {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem )) {
    .product__price {
      font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem )) {
    .product__price {
      font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem )) {
    .product__accessories-title {
      font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7358695652rem  +  0.6956521739vw , 1.375rem )) {
    .product__accessories-title {
      font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}
}