//====================================================================================================
.wrapper {
    position: relative;
}

.main-block {
    margin-top: rem(-100);
    position: relative; // .main-block__container

    &__container {
        padding: rem(0);
    }

    // .main-block__slider
    &__slider {
        width: 100%;
        min-height: 100vh;
    }

    // .main-block__wrapper
    &__wrapper {}

    // .main-block__slide
    &__slide {}

    // .main-block__swiper-pagination
    &__swiper-pagination {
        display: block;
        position: absolute;
        text-align: center;
        bottom: 5%;
        // width: 100%;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;

        .swiper-pagination-bullet {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #ffff;
            transition: background 0.3s ease 0s;

            &:not(:last-child) {
                margin-right: rem(30);
            }

            &-active {
                background: #ffff
            }
        }
    }

    // .main-block__swiper-button-prev
    &__swiper-button-prev {
        position: absolute;
        left: rem(20);
        top: 50%;
        font-size: rem(30);
        color: $secondDark;
        transform: translate(50%, -50%);

        &::before {
            z-index: 1;
            color: $sliderArrows;
        }

        &::after {
            content: '';
            position: absolute;
            width: rem(50);
            height: rem(50);
            background-color: $bg-color04;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }

        @media (max-width:$mobile) {
            display: none;
            visibility: hidden;
        }
    }

    // .main-block__swiper-button-next
    &__swiper-button-next {
        position: absolute;
        right: rem(40);
        top: 50%;
        font-size: rem(30);
        color: $secondDark;
        transform: translate(50%, -50%);

        &::before {
            z-index: 1;
            color: $sliderArrows;
        }

        &::after {
            content: '';
            position: absolute;
            width: rem(50);
            height: rem(50);
            background-color: $bg-color04;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }

        @media (max-width:$mobile) {
            display: none;
            visibility: hidden;
        }
    }

    // .main-block__swiper-scrollbar
    &__swiper-scrollbar {}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {

    // .swiper-slide__content
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

    }

    // .swiper-slide__image
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        img {
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;

            // object-fit: contain;


        }
    }

    // .swiper-slide__title
    &__title {
        line-height: math.div(86, 64);
        @include adaptiveValue("font-size", 64, 42);
        font-weight: 800;
        color: $white;
        text-align: center;
    }

    // .swiper-slide__text
    &__text {
        margin-top: rem(50);
        background-color: $white;
        border-radius: 20px;
        @include adaptiveValue("font-size", 24, 18);
        line-height: math.div(28, 24);
        font-weight: 300;
        padding: rem(30) rem(20);
        width: percent(428, 1440);

        @media (max-width:$tablet) {
            width: 50%;
        }

        @media (max-width:$mobile) {
            width: 75%;

        }
    }
}

//====================================================================================================
.mini-catalog {

    // .mini-catalog__container
    &__container {
        padding: rem(0)
    }

    // .mini-catalog__header
    &__header {
        @include adaptiveValue("margin-top", 60, 10);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
        border-color: $mainColor;
        padding: rem(0) rem(15) rem(10) rem(15);

    }

    // .mini-catalog__title
    &__title {
        @include adaptiveValue("font-size", 26, 16);
        line-height: math.div(36, 26);
        font-weight: 400;
        flex-wrap: wrap;
    }

    // .mini-catalog__link
    &__link {
        @include adaptiveValue("font-size", 26, 16);
        line-height: math.div(36, 26);
        font-weight: 400;
        display: flex;
        flex-direction: row-reverse;
        gap: rem(10);
        align-items: center;
        cursor: pointer;
    }

    // .mini-catalog__slider
    &__slider {
        width: 100%;
        height: auto;
        margin-top: rem(10);
        position: relative;
    }

    // .mini-catalog__wrapper
    &__wrapper {
        display: flex;
    }

    // .mini-catalog__slide
    &__slide {}

    // .mini-catalog__item
    &__item {}

    // .mini-catalog__item-link
    &__item-link {
        display: block;
    }

    // .mini-catalog__item-image
    &__item-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    // .mini-catalog__scrollbar
    &__scrollbar {
        position: absolute;
        bottom: rem(5);
        background-color: rgba(0, 0, 0, .1);
        /* Колір фону Scrollbar */
        width: 100%;
        /* Ширина Scrollbar */
        height: rem(5);
        border-radius: rem(10);

    }

    &__btn {
        margin-top: rem(15);
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100vh;
    }
}

.swiper-scrollbar-drag {
    border-radius: rem(10);
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    z-index: 50;
    // width: 75px;
}

//========================================================================================================================================================
.delivery-block {

    // .delivery-block__container
    &__container {
        @include adaptiveValue("margin-top", 60, 10);

    }

    // .delivery-block__title
    &__title {
        @include adaptiveValue("font-size", 52, 30);
        border-bottom: 1px solid;
        border-color: $mainColor;
        padding: rem(0) rem(0) rem(10) rem(0);

    }

    // .delivery-block__sub-title
    &__sub-title {
        @include adaptiveValue("margin-top", 30, 10);
        @include adaptiveValue("font-size", 26, 18);
        font-weight: 400;
        padding-left: rem(20);
        text-decoration: underline;

    }



    // .delivery-block__list
    &__list {
        margin-top: rem(10);
    }

    // .delivery-block__item
    &__item {
        position: relative;
        padding-left: rem(20);
        line-height: math.div(26, 18);
        @include adaptiveValue("font-size", 18, 14);

        &:not(:last-child) {
            padding-bottom: rem(5);

        }

        &::before {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 2px solid $mainColor;
            transition: background 0.3s ease 0s;
            top: 0;
            left: 0;
            transform: translate(0, 50%);
            content: '';

        }
    }
}

//========================================================================================================================================================